## Compilation artefacts ########
*.pyc
*.d
*.o
*.ko
*.gcno
*.gcda
dependencies.lock
sunxi-pack/chips/sun6i/bin/u-boot-sun6i.bin
*.swp
.*.swp

## Project files ######
build/*
output/*
SD/*
env.sh
include/autoconf.mk*

