## Compilation artefacts ########
*.pyc
*.d
*.o
*.ko
*.gcno
*.gcda
*.swp
.*.swp

## Project files ######
build/*
output/*
SD/*
env.sh
scripts/env.sh
include/autoconf.mk*
dependencies.lock
linux-sunxi/bImage
linux-sunxi/output/lib/modules/3.3.0-BPI-M2-Kernel/*
sunxi-pack/chips/sun6i/bin/u-boot-sun6i.bin
u-boot-sunxi/tools/sunxi_env_gen
*.log*
